#headline{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    text-align: center;
}

body{
    background-color: rgb(235, 221, 183);
}

.nav{
    border-bottom: solid 2px;
    text-align: center;
}

.nav a{
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    width: 20%;
    padding-left: 3%;
    padding-right: 3%;
}


.nav a:hover{
    background-color: rgba(237, 189, 29, 0.86);
    color: rgb(255, 254, 254);
}

.nav a.active{
    background-color: aquamarine;
    color: black;
}